.article {
  display: flex;
  flex-wrap: wrap;
}

.article .article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article .article-card img {
  width: 100%;
  height: auto;
}

.article .article-content {
  background-color: var(--gray-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article .article-content h3 {
  font-size: var(--font-size-h5);
  color: var(--text-color);
  margin: 0 0 10px;
}

.article .article-content h2 {
  font-size: var(--font-size-h2);
  color: var(--text-color);
  margin: 0 0 20px;
}

.article .article-content p {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin: 0 0 20px;
}

.article .article-content .button {
  background-color: var(--yellow);
  color: var(--black);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  width: auto; /* Reduce the button width */
  align-self: flex-start; /* Align the button to the left side */
}

@media (width >= 900px) {
  .article {
    flex-direction: row;
  }

  .article .article-card {
    flex-direction: row;
  }

  .article .article-content {
    width: 50%;
    padding: 40px;
  }

  .article .article-card img {
    width: 50%;
  }
}

@media (width <= 600px) {
  .article .article-card {
    flex-direction: column-reverse; /* Place text content first then image */
  }

  .article .article-content {
    padding: 15px;
  }
}
